<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <context:property-placeholder location="classpath:db/postgres.properties" system-properties-mode="OVERRIDE"/>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${spring.datasource.driver}"
          p:url="${spring.datasource.url}"
          p:username="${spring.datasource.username}"
          p:password="${spring.datasource.password}"
    />

    <context:annotation-config/>

    <context:component-scan base-package="**.repository"/>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          p:packagesToScan="**.model"
          p:dataSource-ref="dataSource">

        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>

        <property name="jpaProperties">
            <props>
                <!--<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</prop>-->
                <prop key="hibernate.dialect">${spring.jpa.properties.hibernate.dialect}</prop>
                <!--<prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>-->
                <prop key="hibernate.show_sql">${spring.jpa.show-sql}</prop>
                <prop key="hibernate.format_sql">${spring.jpa.format-sql}</prop>
                <prop key="hibernate.use-sql-comments">${spring.jpa.use_sql_comments}</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <beans>
        <context:component-scan base-package="**.repository"/>
        <jpa:repositories base-package="**.repository"/>
    </beans>

</beans>
